certifi==2023.7.22
charset-normalizer==3.2.0
gevent==23.7.0
greenlet==2.0.2
idna==3.4
requests==2.31.0
urllib3==2.0.4
websocket==0.2.1
websocket-client==1.6.1
websockets==11.0.3
zope.event==5.0
zope.interface==6.0
